<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>PointsTracker</title>
  </head>
  <body>
    <h1>Task List</h1>
    <form class="" action="/uppercase" method="post">
      <label for="name">Write your word:</label>
      <input type="text" name="word" id="name">
      <input type="submit" value="MAKE IT UPPERCASE">
    </form>
  </body>
</html>
